<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-sm-center jumbotron">Word List</h1>
        <button type="button" class="btn btn-outline-info btn-sm">Search</button>
        <div class="row">
            <div class="col-sm-4 text-sm-center bg-light">
                <p>Word groups</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Alphabet</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">A</a></br>
                        <a class="dropdown-item" href="#">B</a></br>
                        <a class="dropdown-item" href="#">C</a></br>
                        <a class="dropdown-item" href="#">D</a></br>
                        <a class="dropdown-item" href="#">E</a></br>
                        <a class="dropdown-item" href="#">F</a></br>
                        <a class="dropdown-item" href="#">G</a></br>
                        <a class="dropdown-item" href="#">H</a></br>
                        <a class="dropdown-item" href="#">I</a></br>
                        <a class="dropdown-item" href="#">J</a></br>
                        <a class="dropdown-item" href="#">K</a></br>
                        <a class="dropdown-item" href="#">L</a></br>
                        <a class="dropdown-item" href="#">M</a></br>
                        <a class="dropdown-item" href="#">N</a></br>
                        <a class="dropdown-item" href="#">O</a></br>
                        <a class="dropdown-item" href="#">P</a></br>
                        <a class="dropdown-item" href="#">Q</a></br>
                        <a class="dropdown-item" href="#">R</a></br>
                        <a class="dropdown-item" href="#">S</a></br>
                        <a class="dropdown-item" href="#">T</a></br>
                        <a class="dropdown-item" href="#">U</a></br>
                        <a class="dropdown-item" href="#">V</a></br>
                        <a class="dropdown-item" href="#">W</a></br>
                        <a class="dropdown-item" href="#">X</a></br>
                        <a class="dropdown-item" href="#">Y</a></br>
                        <a class="dropdown-item" href="#">Z</a></br>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 text-sm-center bg-secondary">
              <p>Words</p>
              <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
        </div>
    </div>
</body>

</html>
